html {
    font-family: 'Lato', sans-serif;
    color: black;
}

h4,
h5 {
    margin: .5em 0;
}

.grid-item-2 ul {
    padding: .25em 1em;
    margin: .25em 1em;
}

.grid-item-2 .mainbar-experience ul li {
    padding: .25em 0;
}

h1,
h3,
h4 {
    font-weight: 700;
}

h3 {
    letter-spacing: 3.5px;
}

p,
h5,
ul li {
    font-weight: 300;
}

.sidebar-contact-info {
    list-style-type: none;
}

ul.sidebar-contact-info li {
    padding: 0.45em 0 0.45em 0.45em;
}

ul.sidebar-contact-info {
    margin-top: 0.35em;
}

.resume {
    width: 1000px;
    margin: 5px auto;
}

.resume-header {
    text-align: center;
    background-color: #363d40;
    color: white;
    height: 100px;
}

.resume-header h1 {
    margin: 0;
    line-height: 100px;
    letter-spacing: .10em;
    font-size: 3em;
}

.education-section div h4,
.language-section div h4,
.awards-section div h4,
.education-section div p,
.language-section div p,
.awards-section div p {
    padding: .20em 0 .20em 0;
    margin: 0;
}

.education-section div,
.language-section div,
.awards-section div {
    padding: .25em;
}

.grid-item-1 {
    background-color: #ececec;
    text-align: end;
    padding: 0em 1em 0em 1em;
}

.grid-item-1 h3 {
    margin-bottom: .3em;
    margin-top: .75em;
}

.grid-item-2 h3 {
    margin: 0;
    padding: .15em .15em;
}

.grid-item-2 {
    background-color: white;
    padding: .5em 1em .5em 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 auto;
}

.skills-list {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: column;
}